@import "navigation.css";
@import "video-detail.css";
@import "video-list.css";
body {
  width: 100vw;
}

/* 
  TODO
     - JS functions to change main video and list of videos
     - create video items for video list
     - add youtube icons
     - create media queries for responsive design 
*/
.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  /* grid-template-rows: repeat(10, 75px); */
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 20px 30px;
}